<% content_for(:title, "Welcome") %>

<h1>Welcome to Mario's Fine Foods</h1>
<%= image_tag('mario.png', size: 350) %>
<p>Mario's is dedicated to selling you food at ridiculously marked-up prices!</p>
<p>Click on "Products" to check out what we have!</p>
